@page "{blogId:int}"
@model IT420.Pages.Blogs.DeleteBlogModel
@{
    ViewData["Title"] = "DeleteBlog";
}

<div class="text-danger">
    Are you sure you want to delete your blog titled: @Model.blog.name?
    <form method="post">
        <button type="submit" class="btn btn-danger">Delete</button>        
        <a class="btn btn-primary" asp-page="./detail" asp-route-blogId="@Model.blog.blogId">Go to Blog Detail</a>
    </form>
</div>

