@page "{expertId:int}"
@model IT420.Pages.Experts.DeleteExpertModel
@{
}

<div class="text-danger">
    Are you sure you want to delete @Model.Expert.firstName?
</div>
<form method="post">
    <button type="submit" class="btn btn-danger">Delete</button>
    <a class="btn btn-primary" asp-page="./ExpertList">Cancel</a>
</form>