@page "{SelectedTalkId:int}"
@model IT420.Pages.Talks.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<div class="alert-danger">
    Are you sure you want to delete @Model.Talk.Name and all associated comments?
</div>
<form method="post">
    <button type="submit" class="btn btn-danger">Delete</button>
    <a class="btn btn-primary" asp-page="./Detail" asp-route-SelectedTalkId="@Model.Talk.TalkId">Cancel</a>
</form>

